<?xml version = "1.0" encoding = "UTF-8"?>
<suite name = "Applitopia-Tests" parallel="false">
    <test name = "SetUp Suite">
        <classes>
            <class name="tests.SetUpClass"/>
        </classes>
    </test>
    <test name = "Applitopia-login-test">
        <classes>
            <class name = "tests.loginTest.LoginTest" />
        </classes>
    </test>
    <test name = "Data-import-edit-search-test">
        <classes>
            <class name = "tests.importEditSearchTest.TestRun" />
        </classes>
    </test>
</suite>